.pole-content{
    margin-top: 20px;
}

.pole-title{
    margin-top: 20px;
    background: white;
    padding: 20px;
    text-decoration: none;
    color: black;
    display: block;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 15px;
}

.pole-project{
    background: #E9EAFD;
    margin: 20px 20px;
    border-radius: 15px;
    padding: 15px;
    font-style: italic;
}

.pole-project a {
    width: 100%;
    height: 100%;
    padding: 15px;
    text-decoration: none;
    color: black;
    display: block;
}