<ion-content>

 
 <ion-list *ngFor="let pole of allPoles" [(ngModel)]="allPoles" name="allPoles" ngDefaultControl>
      <ion-item>
          <ion-label color="primary" >
              {{pole.name}}
            </ion-label>
      </ion-item>

      <ion-item *ngFor="let project of pole.projects" name="pole.projects" ngDefaultControl>
          <ion-label>
            -> :{{project}}
            </ion-label>
      </ion-item>
  </ion-list>

</ion-content>





<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      List des Poles
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div *ngIf="errorOccured; else projectList">
    An error occured
  </div>
  <ng-template #projectList>
    <div class="pole-content" *ngFor="let poleKey of GetPoleKeys()">
      <a class="pole-title" data-toggle="collapse" href="#collapse{{poleKey.ref}}" aria-expanded="false">
        {{poleKey.name}}
      </a>
      <div *ngFor="let project of GetProjects(poleKey)" class="collapse pole-project" id="collapse{{poleKey.ref}}">
          <a routerLink="/tabs/project/{{project.ref}}">{{project.name}}</a>
      </div>
    </div>
  </ng-template>
</ion-content> -->
