<ion-content>
  <div class="center">
    <ion-button (click)="goToConnexion()" style="display: block">Connexion</ion-button>
    <ion-button (click)="goToEnregistre()" style="display: block" color="secondary">Inscription</ion-button>
    <img class="fix" src="../../assets/logo-black.svg">
  </div>
</ion-content>
