<ion-content padding>
  <ion-button (click)="goToDeconnexion()" style="display: block">Deconnexion</ion-button>
  <ion-item>
    <ion-label>Heure de rappel</ion-label>
    <ion-datetime display-format="HH:mm" (ionChange)="alertNotification()" [(ngModel)]="alertDate"></ion-datetime>
  </ion-item>
</ion-content>
