<ion-tabs>

  <ion-header>
    <ion-item>
      <div>
        <img alt="logo" height="35" src="../../assets/logo-black.svg" >
      </div>
      <ion-tab-button tab="setting" style="margin-left: 70%">
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
    </ion-item>

  </ion-header>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="pole">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>Poles</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="folder"></ion-icon>
      <ion-label>Projects</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="task">
        <ion-icon name="refresh"></ion-icon>
        <ion-label>Tasks</ion-label>
      </ion-tab-button>

  </ion-tab-bar>



</ion-tabs>
