<ion-content>
  <div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
      <div class="flb">
        <div class="Aligner-item Aligner-item--top"></div>
        <img src="../../assets/logo.svg">
        <div class="Aligner-item Aligner-item--bottom"></div>
      </div>
    </div>
</ion-content>