

<ion-content padding>

  <div>

      <form class="list-form">
          <div padding text-center>
              <div class="logo"></div>
              <h2 ion-text class="text-primary">
                <strong>Adding task</strong>
              </h2>
          </div>

          <ion-item>
            <ion-input placeholder="Title" [(ngModel)]="TaskTitle" name="EventTitle" type="email"></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-input placeholder="Description" [(ngModel)]="TaskDescription" name="EventDescription" type="text"></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label floating color="medium">
              Projet
          </ion-label>

            <ion-select name="TaskProject" #C (ionChange)="onProjectChanged(C.value);" required >
              <div *ngFor="let project of allProjects" [(ngModel)]="allProjects" name="allProjects" ngDefaultControl>
                  <ion-select-option *ngIf="project?.follow == true"   >{{project.name}}</ion-select-option>
              </div>
            </ion-select>
          </ion-item>
        
          <button ion-button icon-start block color="dark" tappable (click)="saveTask();">
            <ion-icon name="add-circle"></ion-icon>
             Create
          </button>
        
        </form>


  </div>

  <div padding text-center>
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>All tasks</strong>
      </h2>
  </div>

    <ion-list *ngFor="let task of allTasks" [(ngModel)]="allTasks" name="allTasks" ngDefaultControl>
        <ion-item *ngIf="task.project?.follow == true">
            <ion-label color="primary"  >
                {{task.title}} | {{task.project.name}}
              </ion-label>
        </ion-item>
    </ion-list>

</ion-content>
