.task-title {
    margin-top: 20px;
    background: white;
    padding: 20px;
    text-decoration: none;
    color: black;
    display: block;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 15px;
}

.task-description {
    background: #E9EAFD;
    margin: 20px 20px;
    border-radius: 15px;
    padding: 15px;
    font-style: italic;
}