
<ion-content padding>


  <div padding text-center>
        <div class="logo"></div>
        <h2 ion-text class="text-primary">
          <strong>All projects</strong>
        </h2>
  </div>

  <div>

    

      <ion-item *ngFor="let project of allProjects" [(ngModel)]="allProjects" name="allProjects" ngDefaultControl>
          <ion-label>{{project.name}}</ion-label>
          <ion-toggle [(ngModel)]="project.follow" #C (ionChange)="onProjectStatusChanged(C.value,project);" ></ion-toggle>
      </ion-item>

      <ion-item>
        <button ion-button icon-start color="dark" tappable (click)="Save();">
           Save
        </button>      
      </ion-item>



  </div>




</ion-content>
