<ion-content padding>
  <form (ngSubmit)="signupUser()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list>

            <div><ion-label>Name : {{currentUser.name}}</ion-label></div>

            <ion-label>Role(s) : </ion-label>

            <ion-item *ngFor="let role of currentUser.roles" [(ngModel)]="currentUser.roles" name="currentUser.roles" ngDefaultControl>
                    <ion-label>{{role}}</ion-label>
            </ion-item>

            
            <ion-button expand="block" color="secondary" href="/tabs/opinion">Ajouter un avis</ion-button>
            <!-- <ion-item>
              <ion-label>Status</ion-label>
                <ion-select *ngIf="currentUser" value="Project" okText="Okay" cancelText="Dismiss" [(ngModel)]="currentUser.pro" name="selectProject">
                  <ion-select-option *ngFor="let project of ProjectDocCollection" [value]="project.Name">{{project.Name}}</ion-select-option>
                </ion-select>
            </ion-item> -->


          </ion-list>
        </ion-col>
      </ion-row>

    </form>
</ion-content>