.task-manager-title {
    font-size: 24px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
    font-weight: bold;
}

.task-list-content {
    margin-top: 20px;
}

.task-list-title {
    background: white;
    padding: 20px;
    text-decoration: none;
    color: black;
    display: block;
    font-family: monospace;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 15px;
}

.task-block {
    background: #E9EAFD;
    margin: 10px 20px 10px 20px;
    border-radius: 15px;
}

.task-block a {
    padding: 15px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    display: block;
    font-style: italic;
}