<ion-content>
  <div *ngIf="projectNotFound; else taskTrackingBlock">
    Project not found :'(
  </div>
  <ng-template #taskTrackingBlock>
    <div class="task-manager-title">{{project.taskManager.name}}</div>
    <div class="task-list-content" *ngFor="let taskList of project.taskManager.taskLists">
      <a class="task-list-title" data-toggle="collapse" href="#collapse{{taskList.id}}" aria-expanded="false">
       {{taskList.name}}
      </a>
      <div *ngFor="let task of taskList.tasks" class="collapse task-block" id="collapse{{taskList.id}}">
        <a routerLink="/tabs/task/{{task.id}}">
          <span class="task-state">
            <i *ngIf="task.taskState.state=='DONE'" class="fa fa-check task-done"></i>
            <i *ngIf="task.taskState.state=='PENDING'" class="fa fa-minus task-pending"></i>
          </span>
          <span>{{task.title}}</span>
        </a>
      </div>
    </div>
  </ng-template>
</ion-content>
