<ion-header>
  <ion-toolbar color="primary">
      <ion-back-button color="dark" defaultHref="launch" slot="start"></ion-back-button>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="loginUser()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="currentUser.email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Mot de passe" name="password" [(ngModel)]="currentUser.password" required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row style="text-align:center">
        <ion-col class="signup-col">
          <ion-button color="secondary" full type="submit">Se connecter</ion-button>
        </ion-col>
      </ion-row>
  </form>
  <img class="fix" src="../../assets/logo-black.svg">
</ion-content>
