<ion-content padding>
  <div *ngIf="projectNotFound; else projectBlock">
    Project not found :'(
  </div>
  <ng-template #projectBlock>
    <div class="project-title">
      <span *ngIf="pole">{{pole.name}}</span> - {{project.name}}
    </div>
    <div class="project-detail-block">
      Membres:
      <div *ngFor="let user of users" class="element-block">
        <a>{{user.name}}</a>
      </div>
    </div>
    <ion-button expand="block" color="secondary" href="/tabs/task-tracking/{{project.ref}}">Suivre les tâches</ion-button>
  </ng-template>
</ion-content>
