.project-title {
    background: #ffffff;
    padding: 20px;
    color: black;
    font-size: 24px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 15px;
    font-weight: bold;
}

.project-detail-block {
    margin: 30px 0px;
}

.element-block {
    background: #E9EAFD;
    margin: 10px 20px 10px 20px;
    border-radius: 15px;
}

.element-block a {
    padding: 15px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    display: block;
    font-style: italic;
}