<ion-header>
  <ion-toolbar color="primary">
      <ion-back-button color="dark" defaultHref="launch" slot="start"></ion-back-button>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="signupUser()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>
              <ion-label>Rôle</ion-label>
              <ion-select placeholder="Choisissez" multiple="true" value="Student" okText="Valider" cancelText="Annuler" [(ngModel)]="currentUser.roles" name="selectRoles">
                <ion-select-option value="Head Master">Chef de pôle</ion-select-option>
                <ion-select-option value="Project Leader">Chef de projet</ion-select-option>
                <ion-select-option value="Project Member">Membre</ion-select-option>
              </ion-select>
            </ion-item>
            
            <ion-item>
              <ion-input type="text" placeholder="Nom" name="name" [(ngModel)]="currentUser.name" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="currentUser.email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Mot de passe" name="password" [(ngModel)]="currentUser.password" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Confirmation" name="confirmation_password" [(ngModel)]="confirmation_password" required></ion-input>
            </ion-item>

            

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row style="text-align:center">
        <ion-col class="signup-col">
          <ion-button color="secondary" full type="submit">S'inscrire</ion-button>
        </ion-col>
      </ion-row>

    </form>

    <img class="fix" src="../../assets/logo-black.svg">

    
</ion-content>
