<ion-content padding>
    <div *ngIf="errorOccured; else opinionBlock">
      An error occured :'(
        <div>{{error}}</div>
    </div>
    <ng-template #opinionBlock>
      <form (ngSubmit)="submitOpinion()" *ngIf="opinion">
        <ion-list>

          <ion-item>
            <ion-label>Session</ion-label>
            <ion-select *ngIf="sessions" okText="Okay" cancelText="Annuler" [(ngModel)]="opinion.sessionRef" name="sessionRef" required>
              <ion-select-option *ngFor="let session of sessions" value="{{session.ref}}">{{session.date.toDate()}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-list-header>
            Tâches accomplis
          </ion-list-header>
          <ion-item>
            <ion-textarea type="text" [(ngModel)]="opinion.accomplishedTasks" name="accomplishedTasks" required></ion-textarea>
          </ion-item>

          <ion-list-header>
            Difficultés rencontrées
          </ion-list-header>
          <ion-item>
            <ion-textarea [(ngModel)]="opinion.difficultiesMet" name="difficultiesMet" required></ion-textarea>
          </ion-item>

          <ion-list-header>
            Note
            <ion-badge item-end>{{opinion.mark}}</ion-badge>
          </ion-list-header>
          <ion-item>
            <ion-range min="0" max="3" [(ngModel)]="opinion.mark" name="mark" required>
                <ion-label range-left>0</ion-label>
                <ion-label range-right>3</ion-label>
            </ion-range>
          </ion-item>

        </ion-list>
        <ion-button expand="block" color="success" type="submit">Soumettre</ion-button>
      </form>
    </ng-template>
    <ion-button expand="block" color="secondary" (click)="previousPage()">Annuler</ion-button>
</ion-content>
